.About {
    background-color: #282c34;
    text-align: left;
    font-family: serif;
    font-style: italic;
    font-size: 15px;
    color: white;
    line-height: normal;
    font-weight: bold;
  }

  .About2 {
    
    text-align: center;
    font-family: serif;
    font-weight: bold;
    
  }

 